.app {
  font-family: 'HelveticaNeue', sans-serif;
  display: flex;
  column-gap: 50px;
  background-color: #EBEAE8;
  width: 100%;
  min-height: 100vh;
    
  &__content {
    position: relative;
    padding: 50px 50px 50px 300px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    overflow-y: auto;
  }
}

@include desktop {
  .app__content {
    padding-left: 50px;
  }
}