.header {
  height: 100vh;
  max-width: 300px;
  padding: 50px 0 50px 50px;
  box-sizing: border-box;
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  transition: transform .4s ease-in;
  z-index: 2;

  &_opened {
    transform: translateX(300px);
  }

  &__button {
    display: none;
    width: 25px;
    height: 25px;
    cursor: pointer;
    position: fixed;
    top: 15px;
    left: 30px;
    cursor: pointer;
    z-index: 3;
  }

  &__button-lines::before,
  &__button-lines::after,
  &__button-lines {
    position: absolute;
    width: 100%;
    background-color: black;
    height: 2px;
    transition: .4s
  }

  &__button-lines {
    top: 50%;
  }

  &__button-lines::before {
    top: -10px;
    content: "";
  }

  &__button-lines::after {
    top: 10px;
    content: "";
  }

  &__button_active &__button-lines {
    background-color: transparent;
  }

  &__button_active &__button-lines::before {
    top: 0;
    transform: rotate(45deg);
  }

  &__button_active &__button-lines::after {
    top: 0;
    transform: rotate(-45deg);
  }

  &__button-overlay {
    display: flex;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    opacity: 0;
    background-color: rgb(0, 0, 0);
    transition: opacity .4s ease-in, visibility .4s ease-in;

    &_active {
      display: block;
      visibility: visible;
      opacity: .5;
    }
  }
}

@include desktop {
  .header {
    position: fixed;
    padding-right: 50px;
    left: -300px;
    background-color: #EBEAE8;
    box-shadow: 10px 0px 10px -5px rgba(0, 0, 0, .15);

    &__button {
      display: flex;
    }
  }
}